/* Wander Workshop */

body {
	font-family: Courier, monospace;
	color: white;
	background-color: #222;
	overflow-x: hidden; /* this keeps page from being scrollable when hamburger is shown */
}

/* Headline element */
#header {
	position: fixed;
	width: 100%;
	z-index: 1;
	margin-top: 0;
}

#header h1 {
	display: inline;
}

#hamburger {
    border: 1px solid white;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    float: left;
    margin: 10px;
}

#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

/* Actual nav menu viewed by hamburger button*/ 
nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%;
}


/* Actual main content */
#content {
	margin-top: 100px;
	display: block;
}












